<?if $(sys.BUILDARCH)="x86"?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?define PlatformSystemFolder = "SystemFolder" ?>
<?elseif $(sys.BUILDARCH)="x64"?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?define PlatformSystemFolder = "System64Folder" ?>
<?else?>
<?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="{{{product_name}}}" UpgradeCode="9C296848-ABD3-4538-92D0-3BC4E408F34C" Language="1033" Codepage="1252" Manufacturer="{{{manufacturer}}}" Version="{{{version}}}">

		<Package Id="*" Description="{{{product_name}}} Installer" Manufacturer="{{{manufacturer}}}" Comments="Garry's Mod Workshop Publishing Utility" Keywords="Installer" InstallerVersion="450" Languages="1033" Compressed="yes" InstallScope="perMachine" SummaryCodepage="1252"/>

		<!-- Installers in this family replace each other, so this one takes over from an existing
		     gmpublisher install. Matching every version, newer ones included, also keeps the fork
		     installable when upstream has released a higher version, and removes the previous product
		     before any files are written. -->
		<Upgrade Id="9C296848-ABD3-4538-92D0-3BC4E408F34C">
			<UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Property="WIX_UPGRADE_DETECTED" RemoveFeatures="ALL" />
		</Upgrade>

		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallInitialize" />
		</InstallExecuteSequence>

		<Media Id="1" Cabinet="app.cab" EmbedCab="yes" />

		<Icon Id="ProductIcon" SourceFile="{{{icon_path}}}"/>
		<Property Id="ARPPRODUCTICON" Value="ProductIcon" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/DeisDev/nwmpublisher" />
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
		<!-- Remove repair -->
		<SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="{{{product_name}}}"/>
			</Directory>
			<Directory Id="ProgramMenuFolder"/>
			<Directory Id="DesktopFolder"/>
		</Directory>

		<DirectoryRef Id="INSTALLDIR">
			<Component Id="ProgramBinary" Guid="{{{path_component_guid}}}" Win64="$(var.Win64)">
				<File Id="EXE" Source="{{main_binary_path}}" KeyPath="yes" Checksum="yes"/>
			</Component>
            {{#each binaries as |bin| ~}}
			<Component Id="{{ bin.id }}" Guid="{{bin.guid}}" Win64="$(var.Win64)">
				<File Id="Path_{{ bin.id }}" Source="{{bin.path}}" KeyPath="yes"/>
			</Component>
            {{/each~}}
            {{{resources}}}

			<Component Id="CMP_ReadFileShortcut" Guid="*" Win64="$(var.Win64)">
				<Shortcut Id="UninstallShortcut" Name="Uninstall {{{product_name}}}" Description="Uninstalls {{{product_name}}}" Target="[$(var.PlatformSystemFolder)]msiexec.exe" Arguments="/x [ProductCode]" />

				<RemoveFolder Id="INSTALLDIR" On="uninstall" />

				<!-- XML character references keep backslashes from escaping Handlebars expressions. -->
				<RegistryValue Root="HKLM" Key="Software&#92;{{{manufacturer}}}&#92;{{{product_name}}}" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>

			<!--
			<Component Id="AddToPATH" Guid="84932975-0618-4ce4-ad61-5bd4f5ff24ac">
				<CreateFolder />
				<Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="no" />
			</Component>
			-->

			<Component Id="FileTypeAssociationsReg" Guid="*" Win64="$(var.Win64)">
				<ProgId Id="nwmpublisher.gma.Document" Description="Packed Garry's Mod Addon" Icon="EXE" IconIndex="0">
					<Extension Id="gma" ContentType="application/gma">
						<Verb Id="open" Command="Open" TargetFile="EXE" Argument="-e &quot;%1&quot;" />
					</Extension>
				</ProgId>

				<RegistryValue Root="HKLM" Key="SOFTWARE\nwmpublisher\Capabilities" Name="ApplicationDescription" Value="Garry's Mod Workshop Publishing Utility" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\nwmpublisher\Capabilities" Name="ApplicationIcon" Value="&quot;[#EXE]&quot;,0" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\nwmpublisher\Capabilities" Name="ApplicationName" Value="nwmpublisher" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\nwmpublisher\Capabilities\FileAssociations" Name=".gma" Value="nwmpublisher.gma.Document" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\nwmpublisher\Capabilities\MIMEAssociations" Name="application/gma" Value="nwmpublisher.gma.Document" Type="string" />

				<RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="nwmpublisher" Value="SOFTWARE\nwmpublisher\Capabilities" Type="string" KeyPath="yes" />

				<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.gma" Name="Content Type" Value="application/gma" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.gma\OpenWithList\nwmpublisher.exe" Value="" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.gma\OpenWithProgids" Name="nwmpublisher.gma.Document" Value="" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\nwmpublisher.exe\SupportedTypes" Name=".gma" Value="" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\nwmpublisher.exe" Name="FriendlyAppName" Value="nwmpublisher" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\nwmpublisher.exe\shell\open\command" Value="&quot;[#EXE]&quot; -e &quot;%1&quot;" Type="string" />

				<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\nwmpublisher.exe" Value="[#EXE]" Type="string" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\nwmpublisher.exe" Name="Path" Value="[INSTALLDIR]" Type="string" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ProgramMenuFolder">
			<Component Id="ApplicationShortcut" Guid="*">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="{{{product_name}}}" Description="Runs {{{product_name}}}" Target="[#EXE]" Icon="ProductIcon" WorkingDirectory="INSTALLDIR">
					<ShortcutProperty Key="System.AppUserModel.ID" Value="{{{bundle_id}}}"/>
				</Shortcut>
				<RegistryValue Root="HKCU" Key="Software&#92;{{{manufacturer}}}&#92;{{{product_name}}}" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="DesktopFolder">
			<Component Id="DesktopShortcut" Guid="*">
				<Shortcut Id="ApplicationDesktopShortcut" Name="{{{product_name}}}" Description="Runs {{{product_name}}}" Target="[#EXE]" Icon="ProductIcon" WorkingDirectory="INSTALLDIR">
					<ShortcutProperty Key="System.AppUserModel.ID" Value="{{{bundle_id}}}"/>
				</Shortcut>
				<RegistryValue Root="HKCU" Key="Software&#92;{{{manufacturer}}}&#92;{{{product_name}}}" Name="desktop_shortcut" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

        {{#each merge_modules as |msm| ~}}
		<DirectoryRef Id="TARGETDIR">
			<Merge Id="{{ msm.name }}" SourceFile="{{ msm.path }}" DiskId="1" Language="0"/>
		</DirectoryRef>

		<Feature Id="{{ msm.name }}" Title="{{ msm.name }}" AllowAdvertise="no" Display="hidden" Level="1">
			<MergeRef Id="{{ msm.name }}"/>
		</Feature>
        {{/each~}}

		<Feature Id="MainProgram" Title="Application" Description="Installs {{{product_name}}}." Level="1" ConfigurableDirectory="INSTALLDIR" AllowAdvertise="no" Absent="disallow" Display="expand">
			<ComponentRef Id="CMP_ReadFileShortcut" />
			<ComponentRef Id="ProgramBinary"/>
			{{#each binaries as |bin| ~}}
				<ComponentRef Id="{{ bin.id }}"/>
			{{/each~}}
			{{#each resource_file_ids as |resource_file_id| ~}}
				<ComponentRef Id="{{ resource_file_id }}"/>
			{{/each~}}

			<Feature Id="ShortcutsFeature" Title="Start Menu Shortcut" Description="Adds a shortcut to [ProductName] to the Start Menu." Level="1" Absent="allow" AllowAdvertise="no">
				<!-- File references must share a feature with the component providing EXE. -->
				<ComponentRef Id="ProgramBinary"/>
				<ComponentRef Id="ApplicationShortcut" />
			</Feature>

			<Feature Id="DesktopShortcutFeature" Title="Desktop Shortcut" Description="Adds a shortcut to [ProductName] to the desktop." Level="1" Absent="allow" AllowAdvertise="no">
				<ComponentRef Id="ProgramBinary"/>
				<ComponentRef Id="DesktopShortcut"/>
			</Feature>

			<!--
			<Feature Id="Environment" Title="PATH Environment Variable" Description="Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location." Level="1" Absent="allow" AllowAdvertise="no">
				<ComponentRef Id="AddToPATH"/>
			</Feature>
			-->

			<Feature Id="FileTypeAssociations" Title="File Type Associations" Description="Associates .gma with nwmpublisher for extractions" Level="1" Absent="allow" AllowAdvertise="no">
				<ComponentRef Id="ProgramBinary"/>
				<ComponentRef Id="FileTypeAssociationsReg"/>
			</Feature>
		</Feature>

		<UI>
			<UIRef Id='WixUI_FeatureTree'/>
		</UI>

		<WixVariable Id='WixUILicenseRtf' Value='..\..\..\..\msi\License.rtf'/>

		<WixVariable Id='WixUIBannerBmp' Value='..\..\..\..\msi\msi-banner.bmp'/>

		<WixVariable Id='WixUIDialogBmp' Value='..\..\..\..\msi\msi.bmp'/>

        {{#if install_webview}}
        <!-- Match the per-machine runtime installed by the elevated bootstrapper. -->
		<Property Id="WVRTINSTALLED">
			<RegistrySearch Id="WVRTInstalled" Root="HKLM" Key="SOFTWARE\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}" Name="pv" Type="raw" Win64="no"/>
		</Property>
        {{#if webview2_bootstrapper_path}}
		<Binary Id="WebView2Bootstrapper" SourceFile="{{{webview2_bootstrapper_path}}}"/>
		<CustomAction Id="InvokeBootstrapper" BinaryKey="WebView2Bootstrapper" Execute="deferred" Impersonate="no" ExeCommand="{{{webview_installer_args}}} /install" Return="check"/>
		<InstallExecuteSequence>
			<Custom Action="InvokeBootstrapper" Before="InstallFinalize">
				<![CDATA[NOT REMOVE AND (NOT WVRTINSTALLED OR WVRTINSTALLED = "0.0.0.0")]]>
			</Custom>
		</InstallExecuteSequence>
        {{/if}}
        {{/if}}

		<SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize"/>
	</Product>
</Wix>
